
div {
    display: inline-block;
    width: 100%;
  }

  p {
    font-size: 2em;
    color: green;
  }

  .fatada {
    float: left;
    background-color: antiquewhite;
    border-radius: 20px;
  }

  .fatada2 {
    float: right;
    background-color: antiquewhite;
    border-radius: 20px;
  }

  img {
    float: left;
    border-radius: 30px;
  }

  footer {
    color: green;
    clear: both;
    font-size: 6rem;
    text-align: center;
    background-color: antiquewhite;
  }

  a {
    color: green;
    font-size: 6rem;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 30px;
  }
  
  h2 {
    color: green;
    text-align: center;
  }
  
  .button-link {
    margin-left:40;
    display: inline-block; /* Permite să adaugi padding și alte stiluri */
    padding: 10px 20px; /* Spațiu interior */
    background-color: burlywood; /* Culoare de fundal */
    color: white; /* Culoare text */
    text-align: center; /* Centrează textul */
    text-decoration: none; /* Elimină sublinierea specifică linkurilor */
    border-radius: 5px; /* Colțuri rotunjite */
    font-size: 10px; /* Dimensiune font */
    transition: background-color 0.3s ease; /* Tranziție la schimbarea culorii */
  }
  
  .button-link:hover {
    background-color: #0056b3; /* Culoare de fundal la hover */
  }
